@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

$bg-color: #fcfcfc;
$border-color: #116dff;
$title-font: "DM Sans", sans-serif;
$sec-bg: #dfe5eb;
$body-font: "Source Sans Pro", sans-serif;
$side-title: #131720; //profile navbar text //primary text
$text: #595c6c; //sec text
$border: #eceff3; //sec text
$button: #116dff;

.post-overlay {
    *{
        font-family: $body-font;
    }
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    z-index: 5;
    .modal {
        position: relative;
        background-color: white;
        width: 50%;
        flex-direction: column;
        border-radius: 8px;
        padding: 20px 70px;
        z-index: 5;
        .heading {
            color: $text;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        form {
            .submit {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                #add_post {
                    background-color: $button;
                    color: white;
                    width: 10%;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    padding: 0.5rem;
                    &:hover{
                        box-shadow: 0 0 5px #1b86f9;
                    }
                }
            }
            .other {
                width: 100%;
                display: flex;
                flex-direction: column;
				#opp-add-heading {
                    align-items: flex-start;
                    color: $text;
                    padding-bottom: 1%;
					padding-top: 2%;
                }
				textarea{
					border-radius: 10px;
                    // width: %;
                    border: none;
					resize: none;
                    min-height: 15rem;
                    padding: 20px 20px;
                    background-color: $sec-bg;
                    color: $text;
				}
				::-webkit-file-upload-button {
                    border:none;
					background: $button;
					color: white;
					padding: 5px 10px;
					border-radius: 8px;
					&:hover{
						cursor: pointer;
						box-shadow: 0 0 5px #1b86f9;
					}
				}
            }
        }
        .close-post {
            position: absolute;
            top: 0px;
            right: 20px;
            font-weight: bold;
            cursor: pointer;
            transform: rotate(45deg);
            font-size: 35px;
            color: $text;
        }
    }
}

.bg-active {
    visibility: visible;
    opacity: 1;
}
