@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");
.workexp-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 5;
}

.workexp-overlay * {
  font-family: "Source Sans Pro", sans-serif;
}

.workexp-overlay .modal {
  position: relative;
  background-color: white;
  width: 50%;
  padding: 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  z-index: 5;
}

.workexp-overlay .modal .heading {
  padding-bottom: 30px;
  padding-top: 10px;
  color: #595c6c;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.workexp-overlay .modal form .submit {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.workexp-overlay .modal form .submit .add-opp {
  background-color: #116dff;
  color: white;
  width: 10%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.workexp-overlay .modal form .submit .add-opp:hover {
  -webkit-box-shadow: 0 0 5px #1b86f9;
          box-shadow: 0 0 5px #1b86f9;
}

.workexp-overlay .modal form .other {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.workexp-overlay .modal form .other .part_1,
.workexp-overlay .modal form .other .part_2 {
  overflow: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workexp-overlay .modal form .other .part_1 #opp-add-heading,
.workexp-overlay .modal form .other .part_2 #opp-add-heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #595c6c;
  padding-bottom: 5px;
}

.workexp-overlay .modal form .other .part_1 #role,
.workexp-overlay .modal form .other .part_1 #location,
.workexp-overlay .modal form .other .part_1 #company,
.workexp-overlay .modal form .other .part_1 #type,
.workexp-overlay .modal form .other .part_1 #joindate,
.workexp-overlay .modal form .other .part_1 #enddate,
.workexp-overlay .modal form .other .part_1 #test,
.workexp-overlay .modal form .other .part_2 #role,
.workexp-overlay .modal form .other .part_2 #location,
.workexp-overlay .modal form .other .part_2 #company,
.workexp-overlay .modal form .other .part_2 #type,
.workexp-overlay .modal form .other .part_2 #joindate,
.workexp-overlay .modal form .other .part_2 #enddate,
.workexp-overlay .modal form .other .part_2 #test {
  background-color: #dfe5eb;
  height: 40px;
  color: #595c6c;
  padding-left: 3%;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.workexp-overlay .modal form .other .part_1 {
  padding-right: 10px;
}

.workexp-overlay .modal form .other .part_2 {
  padding-left: 10px;
}

.workexp-overlay .modal form .part_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workexp-overlay .modal form .part_3 #opp-add-heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #595c6c;
  padding-bottom: 1%;
}

.workexp-overlay .modal form .part_3 #description {
  border: none;
  resize: none;
  border-radius: 8px;
  min-height: 12rem;
  padding: 20px 20px;
  background-color: #dfe5eb;
  color: #595c6c;
}

.workexp-overlay .modal .close-workexp {
  position: absolute;
  top: 0px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 35px;
  color: #595c6c;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=workexp_overlay.css.map */