<div class="post-overlay">
    <div class="modal">
        <div class="heading">
            <span>Add Post</span>
        </div>
        <form id="post_form" enctype="multipart/form-data">
            <div class="other">
                <label id="opp-add-heading">Description</label>
                <textarea  name="description" id="description" autocomplete="none"></textarea>
                
                <label id="opp-add-heading">Add Images</label>
                <input type="file" class="custom-file-input" name="file" id="file" accept="image/*" multiple>
            </div>
            <div class="submit">
                <button type="submit" id="add_post">Add</button>
            </div>
        </form>
        <span class="close-post">+</span>
    </div>
    
</div>