<div class="resource-overlay">
    <div class="modal">
        <div class="heading">
            <span>Add Resource</span>
        </div>
        <form id="res_form" enctype="multipart/form-data">
            <div class="other">
                <label id="opp-add-heading">Description</label>
                <textarea  name="description" id="description" autocomplete="none"></textarea>
                
                <label id="opp-add-heading">Add tags for more details</label>
                <div class="tags-input add" data-name="tags-input">
                </div>

                <label id="opp-add-heading">Add File</label>
                <input type="file" class="custom-file-input" name="file" id="file">
            </div>
            <div class="submit">
                <button type="submit" id="add_post">Add</button>
            </div>
        </form>
        <span class="close-res">+</span>
    </div>
    
</div>