<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" sizes="16x16" />
		
		<!--  -->
		{% block meta %}
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% endblock %}

		<!--  -->
		{% block stylesheet %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/file-icons.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/opp_overlay.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/post_overlay.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/resource_overlay.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/workexp_overlay.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/review_overlay.css') }}" />
		{% endblock %}

		<!--  -->
		<title>{% block title %} Base {% endblock %}</title>
	</head>

	<body>
		<div class="container">
			{% include 'add_opportunity.html' %} {% include 'add_post.html' %} {% include 'add_resource.html' %} {% include 'nav.html' %}
			<div class="main">
				<div class="main-container">{% block main %} {% endblock %}</div>
			</div>
		</div>

		<!--  -->
		{% block javascript %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/delete_uploads.js') }}"></script>
		<script src="{{ url_for('static', filename='js/overlays.js') }}"></script>
		<script src="{{ url_for('static', filename='js/post.js') }}"></script>
		<script src="{{ url_for('static', filename='js/review.js') }}"></script>
		{% endblock %}
	</body>
</html>
